$brandBlack: #111111;
$brandRed: #aa1919;
$brandWhite: #fff;

$siteFont: "Libre Franklin Regular", sans-serif;
$heroFontTitle: "Libre Franklin Black", sans-serif;
$heroFont: "Libre Franklin Bold", sans-serif;