@import '_vars';
@import 'modules/_errors';
@import 'modules/_header';
@import 'modules/_homeSection';
@import 'modules/_portfolioSection';
@import 'modules/_aboutSection';
@import 'modules/_contactSection';
@import 'modules/_footer';
@import 'modules/_portfolioPage';
@import 'modules/_contactPage';


// Hides all unwanted items
.hidden {
    display: none;
}

// Positions and sizes loading screen
#loadingScreen {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $brandWhite;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Icon animation
@keyframes logoAnimate {
    0% { transform: scale(1); }
    40% { transform: scale(0.75); }
    80% { transform: scale(1); }
    100% { transform: scale(1);  }
}

// Sizes loading animation
#loadingAnimation {
    width: 200px;
    text-transform: uppercase;
}

// Adds animation to the icon
#logoIcon {
    animation: logoAnimate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

// Adds space between icon and text on loading screen
#loadingAnimation p {
    margin-top: 10px;
}

// Fade out animation
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

// Fades out loading screen when page has loaded
#loadingScreen.animateOut {
    animation: 0.5s fadeOut;
    animation-fill-mode: forwards;
}

// Closes loading screen when animation has completed
#loadingScreen.closed {
    display: none;
}

// Sizes, positions, and styles page
body {
    text-align: center;
    font-family: $siteFont;
    letter-spacing: 0.15em;
    line-height: 18pt;
    font-size: 11pt;
    transition: 0.25 ease-out;
    height: 100%;
    overflow: hidden;
}

// Enables scrolling when page has loaded
body.loaded {
    height: auto;
    overflow: auto;
}

// Styles h2s
h2 {
    font-family: $siteFont;
    text-transform: uppercase;
    letter-spacing: 0.55em;
    font-size: 20pt;
    transition: 0.25s ease-out;
}

// Styles h3s
h3 {
    font-family: $siteFont;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 22pt;
    transition: 0.25s ease-out;
}

// Styles important text
.importantText, a {
    font-family: $siteFont;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 18pt;
    font-size: 11pt;
    transition: 0.25s ease-out;
}

// Styles links
a {
    text-decoration: none;
    color: $brandBlack;
    font-weight: normal;
}

// Adds hover to links
a:hover {
    color: $brandRed;
}

// Prevents SVGs from being cut off
svg {
    overflow: visible;
}




// Changes to desktop CSS
@media screen and (min-width: 1000px) {
    // Increase h2s' font size
    h2 {
        font-size: 25pt;
    }
}