{{!-- Contact thank you page body--}}
<div id="contactPage">
    <h2 class="hidden">Contact Form Submission Status</h2>

    {{!-- Feedback message --}}
    {{{img}}}
    <h3>{{msg}}</h3>

    {{!-- Back Button --}}
    <a href="/" id="backButtonContact">Home</a>
</div>