<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS stuff -->
    <!-- Link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <title>Scott Olthoff</title>
</head>

<body>
    <h1 class="hidden">Scott Olthoff</h1>

    <div id="container">
        {{!-- Main Header --}}
        <header id="mainHeader">
            <!-- Header Content -->
            <div id="headerCon">
                <!--Logo-->
                <div id="headerLogoContainer">
                <a href="/"><img src="images/logo_v2.svg" alt="Scott Olthoff Logo" id="headerLogo"></a>
                </div>

                <!-- Menu button -->
                <div id="menuButton">
                    <div id="lines">
                        <div id="line1"></div>
                        <div id="line2"></div>
                        <div id="line3"></div>
                    </div> <!-- End lines -->
                </div> <!-- End menuButton -->
            </div> <!-- End headerCon -->

            <!--Main navigation-->
            <div id="menuBackground"></div>

            <div id="menuContent">
                <nav id="mainNav">
                    <h2 class="hidden">Main Navigation</h2>

                    <ul id="menu">
                        <li><a href="/" class="menuBtn" class="importantText"  id="homeBtn">Home</a></li>
                        <li><a href="/#portfolioSection" class="menuBtn" class="importantText"  id="portfolioBtn">Portfolio</a></li>
                        <li><a href="/#aboutSection" class="menuBtn" class="importantText"  id="aboutBtn">About</a></li>
                        <li><a href="/#contactSection" class="menuBtn" class="importantText"  id="contactBtn">Contact</a></li>
                    </ul> <!--End menu-->
                </nav> <!-- End mainNav-->

                {{!-- Social media links --}}
                <div class="socialLinks" id="headerSocialLinks">
                    <a href="https://www.facebook.com/scotty.olthoff"><img src="images/facebook_icon_white.svg" alt="Facebook Icon" class="headerSocialIcon" id="headerFacebookIcon"></a>

                    <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BvqJogRS5QcmMFBSHiCspJg%3D%3D"><img src="images/linkedin_icon_white.svg" alt="LinkedIn Icon" class="headerSocialIcon" id="headerLinkedinIcon"></a>

                    <a href="https://www.youtube.com/channel/UCDP4QaAeURu11unE-IYOuBQ?"> <img src="images/youtube_icon_white.svg" alt="YouTube Icon" class="headerSocialIcon" id="headerYoutubeIcon"></a>
                </div> <!-- End headerSocialLinks -->
            </div> <!-- End menuContent -->
        </header> <!-- End mainHeader -->

        {{!-- Page Content --}}
        <main>
            {{{ body }}}
        </main>

        {{!-- Main Footer --}}
        <footer id="mainFooter">
            <nav id="footerNav">
                <h2 class="hidden">Footer Navigation</h2>

                {{!-- Footer menu --}}
                <ul id="footerMenu">
                    <li><a href="/" class="menuBtn" class="importantText"  id="homeLnk">Home</a></li>
                    <li><a href="/#portfolioSection" class="menuBtn" class="importantText"  id="portfolioLnk">Portfolio</a></li>
                    <li><a href="/#aboutSection" class="menuBtn" class="importantText"  id="aboutLnk">About</a></li>
                    <li><a href="/#contactSection" class="menuBtn" class="importantText"  id="contactLnk">Contact</a></li>
                </ul> <!-- End footerMenu -->
            </nav> <!-- End footerNav -->

            {{!-- Back to top button --}}
            <a href="#" class="importantText" id="backToTop">^ Back To Top</a>
        </footer> <!-- End mainFooter -->

        <script type="module" src="js/main.js"></script>
    </div> <!-- End container -->
</body>

</html>