// Sizes and styles about section
#aboutSection {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    color: $brandWhite;
    background-color: $brandBlack;
    transition: 0.25s ease-out;
}

// Hides about section until waypoint is hit
#aboutContent {
    opacity: 0;
    transition: 1s ease-out;
}

// Fades about section in at waypoint
#aboutContent.waypoint {
    opacity: 1;
}

// Spaces about h2
#aboutSection h2 {
    margin-bottom: 30px;
    transition: 0.25s ease-out;
}

// Positions picture and lines
#picArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Vertically centers lines
.picLineArea {
    display: none;
    width: 100%;
    transition: 0.25s ease-out;
}

// Sizes and styles lines
.picLine {
    background-color: $brandWhite;
    height: 1px;
    width: 100%;
}

// Sizes and styles photo
#scottPic {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 100%;
    max-width: 220px;
    transition: 0.25s ease-out;
}

// Spaces and sizes social icons
.aboutSocialIcon {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px
}

.aboutSocialIcon:hover {
    .st0 {fill: $brandRed}
}

// Adds space below social icons
#aboutSocialLinks {
    margin-bottom: 20px;
}

// Adds space around about name
#aboutName {
    margin-bottom: 20px;
    line-height: 28pt;
}

// Adds space below body text
.bodyText {
     margin-bottom: 20px;
}




// Changes to desktop CSS
@media screen and (min-width: 1000px) {
    // Sizes and styles about section
    #aboutSection {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    // Spaces about h2
    #aboutSection h2 {
        margin-bottom: 60px;
    }

    // Shows lines
    .picLineArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    // Repositions and resizes photo
    #scottPic {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 300px;
    }

    // Resizes social icons
    .aboutSocialIcon {
        width: 50px
    }
}