// Styles and aligns page
#errorPage {
    background-color: $brandWhite;
    color: $brandBlack;
    text-align: center;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Makes animation responsive
#errorAnimation {
    width: 100%;
    max-width: 400px;
}

// Styles and positions h2
#errorPage h2 {
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
    transition: 0.25s ease-out;
    letter-spacing: 10px;
}

// Styles and positions h3
#errorPage h3 {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 60px;
    line-height: 20px;
    transition: 0.25s ease-out;
}

// Styles and positions back button
#backButton {
    font-family: $secondaryFont;
    text-transform: uppercase;
    text-decoration: none;
    color: $brandBlack;
    letter-spacing: 4px;
    transition: 0.25s ease-out;
    font-size: 14px;
    line-height: 20px;
}

// Adds hover effect to back button
#backButton:hover {
    color: $brandRed;
}



// Breakpoints

// 364px
@media screen and (min-width: 364px) {
    // Increases h2 letter spacing
    #errorPage h2 {
        letter-spacing: 20px;
    }
}

// 420px
@media screen and (min-width: 420px) {
    // Increases h2 font size
    #errorPage h2 {
        font-size: 28px;
    }

    // Increases h3 font size
    #errorPage h3 {
        font-size: 16px;
    }
    
    // Increases back button font size
    #backButton {
        font-size: 16px;
    }
}