// Sizes header
#mainHeader {
    font-family: $siteFont;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

// Positions header content and styles header
#headerCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    height: 40px;
    background-color: $brandWhite;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
}

// Sizes and positions logo
#headerLogo {
	width: 250px;
}

// Fade in animation
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

// Fade out animation
@keyframes fadeOut {
    0% { opacity: 100; }
    100% { opacity: 0; }
}

// Sizes and styles menu overlay background
#menuBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(175,175,175,0.2);
    z-index: -2;
    display: none;
}

// Fades background in when menu is opened
#menuBackground.openMenu {
    display: block;
    animation: fadeIn 0.25s ease-out;
}

// Fades background out when menu is closed
#menuBackground.fadeOut {
    animation: fadeOut 0.25s ease-out;
}

// Positions and styles nav
#menuContent {
	position: fixed;
    left: 0%;
    top: -500px;
	display: block;
    width: 100%;
    height: auto;
    transition: 0.25s ease-out;
    background-color: $brandBlack;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: -1;
}

// Shows menu when burger menu is pressed
#menuContent.openMenu {
    transition: 0.25s ease-out;
    top: 55px;
}

// Colours, sizes, and styles nav links
#mainNav ul li a {
	display: block;
	width: 100%;
	text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 14pt;
    font-size: 15pt;
    color: white;
    transition: 0.25s ease-out;
}

.stopTransition {
    transition: none !important;
}

// Adds hovers to menu items for desktop users
#mainNav ul li a:hover {
    color: $brandRed;
}

// Positions social media group
#headerWhiteSocialLinks, #headerBlackSocialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

// Sizes and positions social media icons
.headerSocialIcon {
    width: 40px;
    padding-right: 20px;
}

// Adds hover to social media icons
.headerSocialIcon:hover {
    .st0 {fill: $brandRed;}
    .st1 {fill: $brandRed;} 
}

// Adds transition to social media icons
.st0, .st1 {
    transition: 0.25s ease-out;
}

// Removes padding from last social icon
#headerWhiteYoutubeIcon, #headerBlackYoutubeIcon {
    padding-right: 0;
}

// Hides black header social links
#headerBlackSocialLinks {
    display: none;
}

// Positions the menu button
#menuButton {
	margin-top: -1px;
}

// Changes cursor on hover for burger menu for desktop users
#menuButton {
    cursor: pointer;
}

// Styles the menu button's lines
#line1, #line2, #line3 {
	width: 24px;
	height: 0px;
	border-top: 3px solid $brandBlack;
	margin: 5px;
	transition: all 0.25s ease;
}

// Animates line1 when menu is opened
#line1.openMenu {
	-webkit-transform: rotate(-45deg) translate(-5px, 6px);
	-ms-transform: rotate(-45deg) translate(-5px, 6px);
	transform: rotate(-45deg) translate(-5px, 6px);
}

// Hides line2 when menu is opened
#line2.openMenu {
	opacity: 0;
}

// Animates line3 when menu is opened
#line3.openMenu {
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	-ms-transform: rotate(45deg) translate(-5px, -6px);
	transform: rotate(45deg) translate(-5px, -6px);
}





// Changes to desktop CSS
@media screen and (min-width: 1000px) {
    // Styles header
    #mainHeader {
        height: 55px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $brandWhite;
    }

    // Adjust headerCon for desktop
    #headerCon {
        position: static;
        width: 250px;
        height: 40px;
        padding: 0;
        padding-top: 15px;
    }

    // Hides burger menu
    #menuButton {
        display: none;
    }

    // Hides background if mobile menu is opened and changed to desktop
    #menuBackground.openMenu {
        display: none;
    }

    // Positions and styles nav
    #menuContent {
        position: static;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
        height: 40px;
        width: 500px;
        padding-top: 15px;
        background-color: $brandWhite;
    }

    // Changes nav size
    #mainNav {
        height: 25px;
        padding-top: 3px;
    }

    // Displays nav links in a row
	#mainNav ul {
		display: flex;
		flex-direction: row;
	}

	// Spaces the nav links
	#mainNav ul li {
        padding-right: 20px;
    }
    
    // Removes borders, backgrounds and space from nav items
    #mainNav ul li a {
        border: none;
        padding: 0px;
        color: $brandBlack;
        letter-spacing: 0.2em;
        line-height: 18pt;
        font-size: 11pt;
    }
    
    // Positions social media group
        #headerBlackSocialLinks {
        display: flex;
        flex-direction: row;
        height: 25px;
        margin: 0;
    }

    // Sizes and positions social media icons
    .headerSocialIcon {
        width: 25px;
        padding-right: 10px;
        opacity: 0.8;
        transition: 0.25s ease-out;
    }

    // Changes social icon opacity on hover
    .headerSocialIcon:hover {
        opacity: 1;
    }

    // Hides white header social links
    #headerWhiteSocialLinks {
        display: none;
    }
}