// Positions and sizes home section
#homeSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

// Creates overlay for hero video
#heroOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}

// Sizes and positions hero video
#heroVideoArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

// Sizes, styles, and positions hero h3
#homeSection h3 {
    font-family: $heroFontTitle;
    font-size: 30pt;
    letter-spacing: 0.2em;
    color: $brandWhite;
    margin-top: 55px;
    line-height: 35pt;
}

// Sizes, styles, and positions hero h4
#homeSection h4 {
    font-family: $heroFont;
    font-size: 12pt;
    letter-spacing: 0.2em;
    margin-top: 10px;
    color: $brandWhite;
    text-transform: uppercase;
}

// Sizes, styles, and positions hero contact button
#contactHro {
    color: $brandWhite;
    border: 2px solid $brandWhite;
    padding: 10px;
    font-size: 12pt;
    margin-top: 30px;
}

#contactHro:hover {
    cursor: pointer;
}

// Changes to desktop CSS
@media screen and (min-width: 900px) {
    // Sizes, styles, and positions hero h3
    #homeSection h3 {
        font-size: 50pt;
        line-height: 50pt;
    }
    
    // Sizes, styles, and positions hero h4
    #homeSection h4 {
        font-size: 20pt;
        margin-top: 40px;
    }

    // Sizes, styles, and positions hero contact button
    #contactHro {
        padding: 20px;
        font-size: 14pt;
        margin-top: 50px;
    }
}